<div class="ui fluid container">
  <div class="row">
    <div class="column ui basic segment">
<h1>スタッフ経歴書 新規登録</h1>

<%= form_with model: @career_sheets, class: 'ui form' do |f| %>

<div class="ui five wide field">
  <%= f.label :name, "イニシャル" %>
  <%= f.text_field :name, placeholder: "" %>
</div>
<div class="ui five wide field">
  <%= f.label :description, "自己PR" %>
  <%= f.text_area :description, placeholder: "" %>
</div>
<div class="ui five wide field">
  <%= f.label :birthday, "誕生日" %>
  <%= f.date_select :birthday, use_month_numbers: true %>
</div>

<%= f.submit '登録', action: "create", class: 'ui red button' %>
<% end %>
    </div>
  </div>
</div>